<!DOCTYPE html>
<html>
<head>

<style>
.class-for-index
h1 {{ font-family: verdana;
 text-align: center;
color: red;
font-size: 40px;

}}
.class-for-index
h2 {{ font-family: Arial;
 text-align: right;
color: green;
font-size: 30px;}}
p  .class-for-index  {
    color: red;
    font-family: courier;
    font-size: 160%;
    text-align: right;
}
.class-for-movies 
h1 { { font-family: verdana;
 text-align: center;
color: brown;
font-size: 40px;

}
h2 { font-family: Arial;
 text-align: right;
color: brown;
font-size: 30px;}
p  {
    color: brown;
    font-family: courier;
    font-size: 160%;
    text-align: right;
}}

</style>
</head
<body>

<h1>  JURAEV AZAMAT CHORIEVICH</h1>
<h2> Student Informations:</h2>
     <p> Student ID: U1410116</p>
     <p>Group Number: 003</p>
     <p> Email: a.juraev@student.inha.uz</p>
<h1>Robin Hood (2018) </h1>
<p>Genre: Adventure, Thriller, Action | Release date: 21 November 2018 (USA) | </p>
</body>

</html>